/* .App {
  text-align: center;
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* app starts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.main{
  background-color: #f5f4ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}
/* ends */
/* read */
.table-container {
  
  overflow-x: auto !important;
}
.th{
  
  writing-mode: vertical-rl;
}
.ui.table thead th {
  
  background: #fce4d6 !important;
  border-bottom: 2px solid rgba(34,36,38,.1) !important;

}
.ui.table thead tr:first-child>th:last-child {
  background: #f4b084 !important;

}
.blue{
  background: blue !important;
}

.ui.structured.table thead th{
  border-top: 2px solid orange !important;

}

.boxes-container {
  display: flex;
  /* flex-wrap: wrap; */
  width:100%;
 
    box-shadow: 2px 2px 10px rgb(168, 164, 164);
  
  /* justify-content: space-between; */
}
.tabcontainer{
  box-shadow: 2px 2px 10px rgb(168, 164, 164) !important;
}
/* .ui.table tr:first-child td{
  background-color: #f5f4ff;
} */
.box {
  flex: 1;
  min-width: 0;
  padding: 16px;
} 
/* chart page styling */
.colls{
  width:min-content !important;
  /* margin-left:0px !important; */
  /* margin-right:0px !important; */
  padding:5px !important;
}
.childheading{
  text-align:center;
  font-size: 13px;
  background-color:#3c3735;
  padding: 3px;
  color: white;
  border-radius: 3px;
  box-shadow: -2px 2px 10px rgb(168, 164, 164);
}
.topcont{
  background-color: pink;
  border-radius: 5px;
  width:initial !important;
}
.childtable{
  box-shadow: -2px 2px 10px rgb(168, 164, 164);
}
.barfull{
  box-shadow: -2px 2px 10px rgb(168, 164, 164);
}
.first{
  background-color: #3c3735;
  text-align: center ;
  display: flex;
  align-items: center;
  border-radius: 3px;
  color:white;
  font-size: 20px;
  box-shadow: -2px 2px 10px rgb(168, 164, 164);
  background-image: url("./bihar.png");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  height:200px;
}
.secondcontainer{
  text-align: center;
  box-shadow: -2px 2px 10px rgb(168, 164, 164);
}
.firstsec{
  background-color: #3c3735;
  color:white;
  border-radius: 2px;

  padding:5px;
  height:45px;
  align-items: center;
  box-shadow: -2px 2px 10px rgb(168, 164, 164);
}
.secsec{
  background-color: #e0fdb0;
  border-radius: 2px;
 
  padding:5px;
  
}
/* colors base  #fdc2d5 pink , #b8dbf1 blue, #e0fdb0 yellow*/
.thirdsec{
  
  background-color: #fdc2d5;
  border-radius: 2px;
  padding:5px;

}
.fourthsec{
  background-color: #b8dbf1;
  border-radius: 2px;
  padding:5px;
}

.rowf{
  background-color: #e0fdb0;
  height:50px;
}
.rows{
  background-color: #fdc2d5;
  height:50px;
}
.rowt{
  background-color: #b8dbf1;
  height:50px;
}
.headingfirst{
  background-color: #3c3735;
  color:white;
  height:45px;
  margin-bottom: 20px;
  border-radius: 3px !important;
}
/* chart page styling ends */

.buttons{
  background-color: #3c3735 !important;
  border-color: #3c3735 !important;
  width:120px;
  margin-left:0 !important;
  margin-right:0 !important;
  box-shadow: 2px 2px 10px rgb(168, 164, 164) !important;
}

.cont{
  height: 100% !important;
  width:100% !important;
  margin-top: 15px !important;
}

.asecondcontainer{
  text-align: center;
  box-shadow: -2px 2px 10px rgb(168, 164, 164);
}
.afirstsec{
  background-color: #3c3735;
  color:white;
  border-radius: 2px;
  height:65px;
  margin-bottom: 7px;
  padding-top: 12px;
  align-items: center;
  box-shadow: -2px 2px 10px rgb(168, 164, 164);
  width:150px;
  font-size:1.2vmax;
}
.asecsec{
  background-color: #e0fdb0;
  border-radius: 2px;
  height:35px !important;
}
/* colors base  #fdc2d5 pink , #b8dbf1 blue, #e0fdb0 yellow*/
.athirdsec{
  background-color: #fdc2d5;
  border-radius: 2px;
  height:35px;
  
}
.afourthsec{
  background-color: #b8dbf1;
  border-radius: 2px;
  height: 35px;
}
.updatebox{
  box-shadow: -2px 2px 10px rgb(168, 164, 164);
  width:165px !important;
  height:177px;
}
.noticeform{
  display:block !important;
}
.headingnotice{
  background-color: #3c3735;
  color:white;
  padding:5px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 2px 2px 10px rgb(168, 164, 164);
}
.textarea{
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgb(168, 164, 164);
  border-style: none;
  margin-bottom: 10px;

}
.inputtitle{
  margin-bottom: 10px;
  border-radius: 2px;
  border-color:#a2a09f;
  border-style: none;
  width: 100%;
  box-shadow: 2px 2px 10px rgb(168, 164, 164);
  padding:5px;
}
.buttonnotice{
  text-align: center
}

.box1{
  background-color: white;
  padding:5px;
  box-shadow: 2px 2px 10px rgb(168, 164, 164);
  margin-top: 10px;
}

.notec{
  font-weight: 1000;
  
}
.des{
  font-weight: 400;
  font-size: small;
}
.hrr{
  
      height: 1.5px;
      /* background-color: #333; */
      margin: 3px 0;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

}
.addnote{
  height:30px ;
  /* background-color: green; */
}
.btnclass{
  background-color: #3c3735 !important;
  width: 235px;
  border-color: #3c3735 !important;
  margin-top: 5px;
  /* box-shadow: 1px 1px 10px rgb(168, 164, 164); */
}
.col-3{
  width: 20% !important;
}
.tb{
  background-color: #3c3735 !important;
  color:white;
  text-align: center;
  font-weight: 110;
  padding:6.5px !important;
  box-shadow: 2px 2px 10px rgb(168, 164, 164);
  border-radius: 5px !important;
  border-color: #3c3735;

}
.inner{
  font-size: 12px;
}
.col1{
  background-color: green;
  width: 85% !important;
  height:50px;
  text-align: center;
  padding-top: 13px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  font-size: 20px;
  background-color: #3c3735;
  color:white;
  box-shadow: -2px 2px 10px rgb(168, 164, 164);
}
.col2{
  width: 15% !important;
  
}
.topbox{
  display: flex;
}
.date{
  width:180px;
  margin-top: 10px;
  background-color: pink;
  padding: 3px;
  margin-left: 5px;
  border-radius: 5px;
  margin-bottom:2px;
  text-align: center;
  font-weight: 600;
}
.fbutton{
  width:180px;
  margin-left: 5px;
  margin-right:10px;
  padding: 2px !important;
  background-color: green !important;
}